:root {
    --background: #131313;
    --text: white;
    --error: #ef3737;
    --confirm: #30cd3b;
    --grey: #343434;
}

.dark-mode {
    --background: #f0f0f0;
    --text: #131313;
    --grey: #eaeaea;
}
